<!DOCTYPE  html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<form class="form-inline well" action="#" th:action="@{/search}" method="post" th:object="${searchQuery}">
    <div class="form-group">
        <input type="text" th:field="*{query}" class="form-control"/>
        <input class="btn btn-default" type="submit" value="Click!"/>
    </div>
</form>

<div id="docList">
    <table class="table ml-5">
        <thead>
            <tr>
                <td></td>
                <td>Author</td>
                <td>Created</td>
                <td>Modified</td>
                <td>Size</td>
            </tr>
        </thead>
        <tbody>
            <span th:each="r: ${results}">
                <tr>
                    <td>
                        <a th:target="_blank" th:href="${r.URI}" th:text="${r.filename}" style="margin-left: 15px;">Filename</a>
                    </td>
                    <td>
                        <h5 th:text="${r.author}" class="text-secondary">Author (Creator)</h5>
                    </td>
                    <td>
                        <h5 th:text="${r.createdDate}" class="text-secondary">Created</h5>
                    </td>
                    <td>
                        <h5 th:text="${r.modifiedDate}" class="text-secondary">Last edited: (Modified)</h5>
                    </td>
                    <td>
                        <h5 th:text="${r.filesize + 'B'}" class="text-secondary">Size: </h5>
                    </td>
                </tr>
            </span>
        </tbody>
    </table>
</div>

</body>
</html>