<!DOCTYPE  html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<form class="form-inline well" action="#" th:action="@{/search}" method="post" th:object="${searchQuery}">
    <div class="form-group">
        <input type="text" th:field="*{query}" class="form-control"/>
        <input class="btn btn-default" type="submit" value="Click!"/>
    </div>
</form>

<div id="docList">
    <table class="table">
        <tbody>
            <span th:each="r: ${results}">
                <tr>
                    <td>
                        <a th:target="_blank" th:href="${r.URI}" th:text="${r.filename}"></a>
                    </td>
                    <td>
                        <p th:text="${'Score: ' + r.score}">Score</p>
                        <p th:text="${'Created: ' + r.createdDate}">Created</p>
                        <p th:text="${'Last modified: ' + r.modifiedDate}">Last edited: (Modified)</p>
                        <p th:text="${'Author: ' + r.author}">Author (Creator)</p>
                        <p th:text="${'Size of file: ' + r.filesize + 'B'}">Size: </p>
                    </td>
                </tr>
            </span>
        </tbody>
    </table>
</div>

</body>
</html>